.body-register3-header
  = render 'signup/progress/header4'

.body-register3
  .complete__header
    会員登録完了
  .body-register3-form
    .body-register3-form__box1
      ありがとうございます。
    .body-register3-form__box2
      会員登録が完了しました。
    %button{:onclick => "location.href='/users/mypage'"} フリマをはじめる
.body-register3-footer
  = render 'products/login-footer'
