.main-signup {
  background-color: $color-form;
  margin: 0 auto;
  width: 700px;
  .new-member-header {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px solid $color-background;
    padding: 32px;
  }
  &__content {
    text-align: center;
    padding: 40px 178.5px 64px;
    &__line {
      &__btn {
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font-family: 'icon-font';
        border-radius: 4px;
        &--mail{
          margin: 16px 0 0;
          background-color: #ea352d;
          color: $color-form;
          display: inline-block;
          position: relative;
          .icon{
            float: left;
            font-size: 30px;
            position: absolute;
            left: 15px;
            top: 10px;
          }
        }
        &--google{
          margin: 16px 0 0;
          background: $color-form;
          border: #979797 solid 1px;
          color: #333;
          display: inline-block;
          position: relative;
          .icon {
            float: left;
            font-size: 25px;
            position: absolute;
            left: 15px;
            top: 10px;
          }
        }
        &--facebook {
          margin: 16px 0 0;
          background: #385185;
          color: $color-form;
          display: inline-block;
          position: relative;
          .icon{
            float: left;
            font-size: 30px;
            position: absolute;
            left: 15px;
            top: 10px;
          }
        }
      }
    }
    &__terms {
      text-align: left;
      margin: 40px 0 0;
      font-size: 14px;
    }
  }
}