.signup-register {
  width: 700px;
  margin: 0 auto;
  background-color: $color-form;
  .member-header {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px solid $color-background;
    padding: 32px;
  }
  .signup-register-form {
    text-align: left;
    padding: 40px 178.5px 64px;
    .nickname-content {
      &__box {
        width: 100%;
        height: 48px;
        margin: 8px 0 0;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid $color-form-border;
        background: $color-form;
        line-height: 1.5;
        font-size: 16px;
      }
    }
    .mail-content {
      margin: 24px 0 0;
      &__box {
        width: 100%;
        height: 48px;
        margin: 8px 0 0;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid $color-form-border;
        background: $color-form;
        line-height: 1.5;
        font-size: 16px;
      }
    }
    .password-content {
      margin: 24px 0 0;
      &__box {
        width: 100%;
        height: 48px;
        margin: 8px 0 0;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid $color-form-border;
        background: $color-form;
        line-height: 1.5;
        font-size: 16px;
      }
      &__info {
        margin: 8px 0 0;
        line-height: 1.5;
        color: $color-text;
        font-size: 14px;
      }
      &__check {
        margin: 16px 0 0;
        display: flex;
        flex-direction: row;
        .checkbox {
          width: 20px;
          height: 20px;
          border-radius: 2px;;
        }
        .checkbox-label {
          margin-left: 8px;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    .identification {
      margin-top: 32px;
      &__box {
        font-size: 16px;
        font-weight: bold;
      }
      &__explanation {
        margin: 8px 0 0;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .name-kanji-content {
      margin: 24px 0 0;
      &__box {
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        .last_name {
          margin-right: 7px;
          width: 168px;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid $color-form-border;
          background: $color-form;
          line-height: 1.5;
          font-size: 16px;
        }
        .first_name {
          width: 168px;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid $color-form-border;
          background: $color-form;
          line-height: 1.5;
          font-size: 16px;
        }
      }
    }
    .name-kana-content {
      margin: 24px 0 0;
      margin: 24px 0 0;
      &__box {
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        .last_name_kana {
          margin-right: 7px;
          width: 168px;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid $color-form-border;
          background: $color-form;
          line-height: 1.5;
          font-size: 16px;
        }
        .first_name_kana {
          width: 168px;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid $color-form-border;
          background: $color-form;
          line-height: 1.5;
          font-size: 16px;
        }
      }
    }
    .birthday-content {
      margin: 24px 0 0;
      &__box {
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        select {
          height: 48px;
          width: 85px;
          padding: 0 10px;
          border-radius: 4px;
          border: 1px solid $color-form-border;
          background: $color-form;
          line-height: 1.5;
          font-size: 16px;
          cursor: pointer;
        }
        span {
          margin: 0 4px;
          height: 48px;
          line-height: 48px;
        }
      }
    }
    .note-text {
      margin: 8px 0 0;
      line-height: 1.5;
      color: $color-text;
      font-size: 14px;
    }
    .signup-register-btn {
      margin-top: 32px;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      text-align: center;
      border-radius: 4px;
      background: $color-required;
      border: 1px solid $color-required;
      color: $color-form;
      cursor: pointer;
    }
  }
  .signup-input-name {
    align-items: center;
    display: flex;
    width: 100%;
    label {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4em;
      white-space: nowrap;
    }
    span {
      margin-left: 8px;
      font-size: 12px;
      padding: 0 4px;
      background-color: $color-required;
      color: $color-form;
      border-radius: 2px;
      display: inline-block;
      font-style: normal;
      font-weight: 600;
      line-height: 1.4em;
      white-space: nowrap;
    }
  }
}