.body-phone1 {
  width: 700px;
  margin: 0 auto;
  background-color: $color-form;
  .phone-number-header {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px solid $color-background;
    padding: 32px;
  }
  .phone-number-form {
    text-align: left;
    padding: 40px 178.5px 64px;
    .phone-number-content {
      &__label {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4em;
        white-space: nowrap;
      }
      &__number-input {
        width: 100%;
        height: 48px;
        margin: 8px 0 0;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid $color-form-border;
        background: $color-form;
        line-height: 1.5;
        font-size: 16px;
      }
    }
    .phone-number-info {
      margin: 8px 0 0;
      font-size: 14px;
      font-weight: 400;
    }
    .phone-number-label {
      margin: 8px 0 0;
      font-size: 14px;
      font-weight: 400;
    }
    .phone-number-btn{
      margin-top: 32px;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      text-align: center;
      border-radius: 4px;
      background: $color-required;
      border: 1px solid $color-required;
      color: $color-form;
      cursor: pointer;
    }
    .phone-number-text {
      margin-top: 32px;
      font-size: 14px;
      font-weight: 400;
      text-align: right;
      &__right {
        text-decoration: none;
        color: #0099e8;
      }
      .fa-angle-right {
        color: #0099e8;
      }
    }
  }
}